<div>
  <%= flash[:notice] %>
</div>

<%= render 'list', book: @book, user: @user %>

<h2>Book　detail</h2>

<table>
 <tbody>
  <% @books.each do |book| %>
   <tr>
    <td>User_image</td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td>Edit</td>
    <td>Destroy</td>
   </tr>
  <% end %>
 </tbody>
</table>